<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rodadamx</title>
        <meta name= "viewport" content="width = device-width, initial-scale= 1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/createProduct.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="//db.onlinewebfonts.com/c/8d65e04904a1582f7e49f29c82eeda2d?family=Atlas+Grotesk+Web+Bold" rel="stylesheet" type="text/css"/>
        <link href="//db.onlinewebfonts.com/c/43372a4ce8dc3abbca31595815be7cf3?family=Atlas+Grotesk+Web+Light" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include('partials/topHeader') %>
        <main>
            <center><h1>Editar Producto:</h1></center>
            <form action="/product/<%= productToEdit.id %>/edit?_method=PATCH" enctype= 'multipart/form-data' method="POST">
                <hr><br>
                <center>
                    <label for="productName">Nombre:</label>
                    <input class="main-input" type="text" name="productName" id="productName" >
                    
                    <label for="model">Modelo:</label>
                    <input class="main-input" type="text" name="model" value="<%= productToEdit.model %>">

                    <label for="brand">Marca:</label>
                    <input class="main-input" type="text" name="brand" value = '<%= productToEdit.brand%>'>
                
                <div class="category-section">
                    <h3 class="category">Categoría:</h3>
                        <select class="category-menu" name="category" id="category" value= '<%= productToEdit.category%>' >
                            <option value="bicycles">Bicicletas</option>
                            <option value="bamboocycles">Bamboocycles</option>
                            <option value="rollerskate">Patines</option>
                            <option value="skateboard">Skateboard</option>
                            <option value="accessories">Accesorios</option>
                        </select>
                </div>
                <div>
                    <h3 class="status">Status:</h3>
                        <select class="status-section" name="status" id="status">
                            <option value="new">Nuevo</option>
                            <option value="in-sale">Rebaja</option>
                            <option value="visited">Lo más visto</option>
                        </select>
                </div>
                <div>
                    <h3 class="size">Seleccione talla(s):</h3>
                    <section class="size-section"> 
                        <section>
                            <input type="checkbox" name="size" value="10'' (1-4 años)"> 10'' (1-4 años)</label>
                        </section>
                        <section>
                            <input type="checkbox" name="size" value="16'' (4-6 años)"> 16'' (4-6 años)</label>
                        </section> 
                        <section>
                            <input type="checkbox" name="size" value="20'' (6-9 años)"> 20'' (6-9 años)</label>
                        </section> 
                        <section>
                            <input type="checkbox" name="size" value="24'' (9-11 años)"> 24'' (9-11 años)</label>
                        </section>
                        <section>
                            <input type="checkbox" name="size" value="26'' (11+ años)"> 26'' (11+ años)</label>
                        </section> 
                        <section>
                            <input type="checkbox" name="size" value="27.5'' (155cms a 175cms)"> 27.5'' (155cms a 175cms)</label>
                        </section> 
                        <section>
                            <input type="checkbox" name="size" value="29'' (160 en adelante)"> 29'' (160 en adelante)</label>
                        </section>
                        <input class="other-size" type="text" name="size" placeholder="Otra medida...">
                </div>

                <label for="colors">Colores:</label>
                <input class="color-section" type="text" name="colors" value= '<%= productToEdit.colors %>'>

                <div class="cost-section">
                    <label for="price">Precio:</label>
                    <input class="price-section" type="text" name="price" value="   <%= productToEdit.price %>" >

                    <label for="discount">Descuento:</label>
                    <input class="discount-section" type="text" name="discount" value="<%= productToEdit.discount %>" >
                </div>
                <section>
                    <label for="description">Descripción:</label> 
                    <textarea class="description" name="description" id="description"><%= productToEdit.description %></textarea>
                </section>
                <label for="productImage">Selecciona imágen(es):</label>
                <input class="upload-file" type="file" name="image" id="image" multiple><br>
                <button class="update" type="submit">Actualizar</button></center> 
            </form>
            <%- include('partials/footer') %>
        </main>
    </body>
</html>