<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rodadamx</title>
        <meta name= "viewport" content="width = device-width, initial-scale= 1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/userProfile.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="//db.onlinewebfonts.com/c/8d65e04904a1582f7e49f29c82eeda2d?family=Atlas+Grotesk+Web+Bold" rel="stylesheet" type="text/css"/>
        <link href="//db.onlinewebfonts.com/c/43372a4ce8dc3abbca31595815be7cf3?family=Atlas+Grotesk+Web+Light" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <%- include('partials/topHeader') %>

        <main class="user-profile">
            <center>
                <h1 class="user-name">
                    Bienvenido  <%= locals.userLogged.firstName %> <%= locals.userLogged.lastName %>
                </h1>
                <% if(locals.userLogged.image) { %>
                    <img src="/img/usuarios/<%= locals.userLogged.image %>" alt="">
                </div>
                <% } else { %>
                    <div class="profile-img">
                        <i class="fas fa-user-circle logoProfile"></i>
                    </div>
                <% } %>
                <div class="profile-img">
            </center> 
            <h3>¿No eres miembro?<a class="register" href="#">Regístrate</a></h3>
            <div class="main-form">
                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="   Email:" required>
                    <!-- pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"  -->
                    <input type="password" name="password" placeholder="  Contraseña" required>
                    <button class="sign-in" type="submit">Ingresa</button>
                
                </form>
                <a class="recover-password" href="#">Olvidaste tu contraseña</a>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>